In [2]:
import pandas as pd
from numpy.random import randn

In [3]:
df = pd.DataFrame(randn(5,4),['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])
df

          W         X         Y         Z
A  0.308268 -1.807482  0.993375 -0.070520
B -2.607003  0.448941 -0.206632  0.531687
C  0.757844 -1.564627  0.223484  0.600965
D  0.286732  0.457266 -0.816703  0.111948
E -0.174074 -1.442321  0.594359 -0.567711

In [14]:
import numpy as np
X = np.array([2,4,5])
#pd.Series(data=[sum(X)])
pd.Series(X, ['UK','US','PS'])

UK    2
US    4
PS    5
dtype: int32

In [18]:
df['W']
df[['W', 'X']]
df['New'] = df['W'] + df['Y']
#df.drop('new', axis = 1, inplace = True)

In [31]:
pd.read_table('ex1data1.txt')

     6.1101,17.592
0    5.5277,9.1302
1    8.5186,13.662
2    7.0032,11.854
3    5.8598,6.8233
4    8.3829,11.886
5    7.4764,4.3483
6        8.5781,12
7    6.4862,6.5987
8    5.0546,3.8166
9    5.7107,3.2522
10   14.164,15.505
11    5.734,3.1551
12   8.4084,7.2258
13  5.6407,0.71618
14   5.3794,3.5129
15   6.3654,5.3048
16  5.1301,0.56077
17   6.4296,3.6518
18   7.0708,5.3893
19   6.1891,3.1386
20    20.27,21.767
21    5.4901,4.263
22   6.3261,5.1875
23   5.5649,3.0825
24   18.945,22.638
25   12.828,13.501
26   10.957,7.0467
27   13.176,14.692
28   22.203,24.147
29    5.2524,-1.22
..             ...
66   10.236,7.7754
67   5.4994,1.0173
68   20.341,20.992
69   10.136,6.6799
70   7.3345,4.0259
71   6.0062,1.2784
72   7.2259,3.3411
73  5.0269,-2.6807
74  6.5479,0.29678
75   7.5386,3.8845
76   5.0365,5.7014
77   10.274,6.7526
78   5.1077,2.0576
79  5.7292,0.47953
80  5.1884,0.20421
81  6.3557,0.67861
82   9.7687,7.5435
83   6.5159,5.3436
84   8.5172,4.2415
85   9.1802,6.7981
86   6.002,0.92695
87    5.5204,0.152
88   5.0594,2.8214
89   5.7077,1.8451
90   7.6366,4.2959
91   5.8707,7.2029
92   5.3054,1.9869
93  8.2934,0.14454
94   13.394,9.0551
95  5.4369,0.61705

[96 rows x 1 columns]

In [40]:
dff = pd.read_csv('data1.csv')
#data1 = pd.read_excel('Excel_Sample.xlsx', sheetname = 'Sheet1')
#data2 = pd.read_html('https://tin.tin.nsdl.com/tan/Bank.html')
#dff.to_csv('My_output', index = False)
#dff

     6.1101    17.592
0    5.5277   9.13020
1    8.5186  13.66200
2    7.0032  11.85400
3    5.8598   6.82330
4    8.3829  11.88600
5    7.4764   4.34830
6    8.5781  12.00000
7    6.4862   6.59870
8    5.0546   3.81660
9    5.7107   3.25220
10  14.1640  15.50500
11   5.7340   3.15510
12   8.4084   7.22580
13   5.6407   0.71618
14   5.3794   3.51290
15   6.3654   5.30480
16   5.1301   0.56077
17   6.4296   3.65180
18   7.0708   5.38930
19   6.1891   3.13860
20  20.2700  21.76700
21   5.4901   4.26300
22   6.3261   5.18750
23   5.5649   3.08250
24  18.9450  22.63800
25  12.8280  13.50100
26  10.9570   7.04670
27  13.1760  14.69200
28  22.2030  24.14700
29   5.2524  -1.22000
..      ...       ...
66  10.2360   7.77540
67   5.4994   1.01730
68  20.3410  20.99200
69  10.1360   6.67990
70   7.3345   4.02590
71   6.0062   1.27840
72   7.2259   3.34110
73   5.0269  -2.68070
74   6.5479   0.29678
75   7.5386   3.88450
76   5.0365   5.70140
77  10.2740   6.75260
78   5.1077   2.05760
79   5.7292   0.47953
80   5.1884   0.20421
81   6.3557   0.67861
82   9.7687   7.54350
83   6.5159   5.34360
84   8.5172   4.24150
85   9.1802   6.79810
86   6.0020   0.92695
87   5.5204   0.15200
88   5.0594   2.82140
89   5.7077   1.84510
90   7.6366   4.29590
91   5.8707   7.20290
92   5.3054   1.98690
93   8.2934   0.14454
94  13.3940   9.05510
95   5.4369   0.61705

[96 rows x 2 columns]

In [43]:
data2 = pd.read_html('https://tin.tin.nsdl.com/tan/Bank.html')
data2[0]

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,Bank Name Allahabad Bank Andhra Bank Axis B...,Bank Name,Allahabad Bank,Andhra Bank,Axis Bank,Bank of Bahrain and Kuwait,Bank of Baroda - Corporate Banking,Bank of Baroda - Retail Banking,Bank of India,Bank of Maharashtra,...,State Bank of Mysore,State Bank of Patiala,State Bank of Travancore,Syndicate Bank,Tamilnad Mercantile Bank Ltd.,UCO Bank,Union Bank of India,United Bank of India,Vijaya Bank,Yes Bank Ltd
1,Bank Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Allahabad Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andhra Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Axis Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Bank of Bahrain and Kuwait,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Bank of Baroda - Corporate Banking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Bank of Baroda - Retail Banking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Bank of India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Bank of Maharashtra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Canara Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Central Bank of India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,City Union Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Corporation Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Deutsche Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Development Credit Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Dhanlaxmi Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Federal Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,ICICI Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,IDBI Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Indian Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Indian Overseas Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,IndusInd Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,ING Vysya Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Jammu and Kashmir Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Karnataka Bank Ltd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Karur Vysya Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Kotak Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Laxmi Vilas Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Oriental Bank of Commerce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Punjab National Bank - Corporate Banking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Punjab National Bank - Retail Banking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Punjab & Sind Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Shamrao Vitthal Co-operative Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,South Indian Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,State Bank of Bikaner & Jaipur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,State Bank of Hyderabad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,State Bank of India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,State Bank of Mysore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,State Bank of Patiala,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,State Bank of Travancore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Syndicate Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Tamilnad Mercantile Bank Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,UCO Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Union Bank of India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,United Bank of India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Vijaya Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Yes Bank Ltd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
import numpy as np
import pandas as pd
#functions

def cost_function(X, Y, theta):
    
    predictions = X.dot(theta)   # [X] * [theta]
    sqrError = np.square(predictions-Y)
    J = (1/(2*m))*sum(sqrError)
    
    ##J = (1/(2*m))*sum(np.square((X*theta-Y)))
    return J

                   
def gradient_descent(X, Y, theta, alpha, num_iters):
    
    '''
    Performs gradient descent to learn theta
    by taking num_items gradient steps with learning
    rate alpha
    '''
    
    J_history = np.zeros(shape=(num_iters, 1))

    for i in range(num_iters):

        predictions = X.dot(theta)  # [X] * [theta] , not [X] * . [theta]

        errors_x1 = np.multiply((predictions - Y), X[:, 0])
        errors_x2 = np.multiply((predictions - Y), X[:, 1])

        theta[0][0] = theta[0][0] - alpha * (1.0 / m) * sum(errors_x1)
        theta[1][0] = theta[1][0] - alpha * (1.0 / m) * sum(errors_x2)

        J_history[i, 0] = cost_function(X, Y, theta)

    return theta, J_history


#uploading data

data = pd.read_csv('data1.csv')
dataMatrix = np.matrix(data) 


#defining variables: X, Y, theta

X = dataMatrix[:,0]
Y = dataMatrix[:,1]
m = X.size
x0 = np.ones([96,1])
X=np.concatenate((x0, X), axis = 1)

theta = np.zeros(shape=(2,1))
#t = np.zeros(2)
#theta = np.matrix(t).T


'''
Cost Function

'''

J = cost_function(X, Y, theta)
print('This is our Cost Function:', J)


'''
Gradient Descent

'''  

###Some gradient descent settings and calculation
num_iters = 1500
alpha = 0.01


theta, J_history = gradient_descent(X, Y, theta, alpha, num_iters)

print(J_history)
print(theta)

This is our Cost Function: [[ 30.79495786]]
[[ 5.90146939]
 [ 5.14906372]
 [ 5.12066681]
 ...,
 [ 3.46704693]
 [ 3.46701999]
 [ 3.46699315]]
[[-3.92643901]
 [ 1.1849957 ]]

In [369]:
Aa = np.array([[1,2,3],[4,5,6]])
Bb = np.matrix("[1 2 3; 4 5 6]")
Aa

array([[1, 2, 3],
       [4, 5, 6]])